*, *::before, *::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  color: rgb(7, 7, 49);
}

body {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  }
.main {
  width: 26em;
  height: 39.8em;
  margin: 33%;
  margin-top: 10px;
  margin-bottom: 40px;
  position: absolute;
  background-color:  goldenrod;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  
}
  .calculator-grid {
    display: grid;
    justify-content: center;
    min-height: 70vh;
    align-content: center;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    }

    .calculator-grid > button {
      cursor: pointer;
      font-size: 3rem;
      background-color: white;
      border: 1.5px, solid blue;
      border-radius: 30px;
      outline: 5px;
    }

      .calculator-grid > button:hover {
        background-color: goldenrod;
      }

      .span-two {
        grid-column: span 2;
        color: red;
        background-color: rgba(139, 0, 139, 0.8);
      }

      .output{
        grid-column: 1 / -1;
        background-color: rgba(0, 0, 0, 0.75);
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px;
        word-wrap: break-word;
        word-break: break-all;
        border: 8px, solid blue;
        border-radius: 30px;
        margin-top: 10px;
        margin-bottom: 2px;
      }

      .output .previous-operand{
        color: rgba(255,255, 255, 0.75);
        font-size: 2rem;
      }

      .output .current-operand{
        color: goldenrod;
        font-size: 2.5rem;
        font-weight: bold;
      }